# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/
build/
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# uploads (local dev)
uploads/

# prisma
apps/api/prisma/*.db
